<div id="background-style">
	<div class="container-fluid" id="login-container">

		<div class='row'>
			<div class='col-sm-12'>
				<h1 class='text-center'>Experience the Future of Recommendation</h1>
				<h3 class='text-center'>Discover unique locations socially, visually, personally</h3>
			</div>
		</div>

		<div class='row'>
			<div id='transparent-box'>
	 			<p>
					For the adventurous you, we humbly offer you the social recommendation engine of the future. By logging into your Instagram account, we would analyze your instagram image and metadata, and match you with potentially interesting places visited by other local instagrammers with similar preferences to you.
	 			</p>
				<p>
					It's time to go off-the-beaten-path. Please login and experience the world similar to others just like you:			
				</p> 
				<!-- <div id='login-block' class="center-block col-sm-4 col-md-4"> -->
				<a id='login-btn' href="/main/">
					<img src="../../img/insta_button.png">
				</a>
				<!-- </div> -->
 			</div>
		</div>
	</div> <!-- End of container-fluid -->
</div>