/* Login Page */
#login-container {
/*  background-image: url("../img/san-francisco.png");
  background-repeat: no-repeat ;
  background-size:cover;*/

  background: #000 url("../img/san-francisco.png") no-repeat center center fixed;

  /**for Safari,Chrome**/
  -webkit-background-size: cover;
  /**for Firefox**/
  -moz-background-size: cover;
  /**for Opera**/
  -o-background-size: cover;
  /**for other browsers**/
  background-size: cover;
  height:800px;
}

#transparent-box {
  background: rgba(251,226,141, 0.8);
  width: 70%;
  margin: 50px auto 0px auto;
  padding: 30px;
  font-size: 16px
}

#login-btn{
  width: 195px;
  margin: 20px auto 0px auto;
  display: block;
}


/* Main Page*/

#title{
  font-size: 20px
}

#title-name{
  font-weight: bold;
}

#logout-btn{
  text-decoration: underline;
  margin-right: 20px
}

#main-container{
  margin: 20px;
}

#sub-container{
  margin: 20px
}

#country-submit{
  margin-top: 30px;
  margin-bottom: 30px;
}

#submit-btn{
  margin-left: 10px
}

.instagram-img{
  width: 120px;
  height: 120px;
  display: block;
<<<<<<< HEAD
  margin: 5px auto 0px auto;
}

.img-label{
  margin: 5px auto;
  width: 120px;
  overflow: hidden;
=======
  margin: 0px auto
>>>>>>> a3b44d175bc138819935d6f2bade9564d1a38022
}

.city-name{
  margin-top: 50px; 
  text-align: center;
  font-size: 25px;
}

.instagrammer-name{
  margin-top: 30px; 
  text-align: center;
  font-size: 20px;
}

.score{
  text-align: center;
}

#img-row{
  margin:20px 0px;
}

.img-label{
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.thumbnail-img{
  width: 50px;
  height: 50px;
  display: block;
  margin:20px auto 10px auto;

}

#profile-row{
  margin:20px 0px;  
}

#profile-item{
  margin-top: 10px
}

.profile-text{
  display: inline-block;
  width: 100px
}

#info-icon{
  display: inline-block;
}

.description {
  line-height: 150%;
}

.sub-header{
  text-decoration: underline;
  margin-left: 25px;
}

/* OLD REFERENCES */
/*
.add-btn{
	background-color: blue; color:white; border:none;
}
.remove-btn{
	background-color: red; color:white; border:none;
}
.edit-btn{
	background-color: green; color:white; border:none; 
	text-decoration: none; font-size:12px; padding:3px;
}
.remove-btn,.edit-btn{display: inline-block; vertical-align: top}
*/
