<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaPlaces Login</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <base href="/">
  <script type="text/javascript" src='/js/jquery-1.11.1.min.js'></script>
  <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>

</head>
<body>

  <div id="background-style">
    <div class="container-fluid" id="login-container">

      <div class='row'>
        <div class='col-sm-12'>
          <h1 class='text-center'>Experience the Future of Recommendation</h1>
          <h3 class='text-center'>Discover unique locations socially, visually, personally</h3>
        </div>
      </div>

      <div class='row'>
        <div id='transparent-box'>
          <p>
            For the adventurous you, we humbly offer you the social recommendation engine of the future. By logging into your Instagram account, we would analyze your instagram image and metadata, and match you with potentially interesting places visited by other local instagrammers with similar preferences to you..
          </p>
          <p>
            It's time to go off-the-beaten-path. Please login and experience the world similar to others just like you:     
          </p> 
          <!-- <div id='login-block' class="center-block col-sm-4 col-md-4"> -->
          <!-- <a id='login-btn' href="/main/"> -->
          <a id='login-btn' href="/auth/instagram">
            <img src="/img/insta_button.png">
          </a>
          <a class='details-login-link' href='/details'>Click here for more details</a>
          <!-- </div> -->
        </div>
      </div>
    </div> <!-- End of container-fluid -->
  </div>


<!--
  <% if (!user) { %>
  	<h2>Welcome! Please log in.</h2>
  <% } else { %>
  	<h2>Hello, <%= user.username %>.</h2>
  <% } %>

  <a href="/auth/instagram">Login with Instagram</a>
-->


</body>
</html>